.container {
    width: 55%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4em;
}

.show {
    visibility: visible;
    opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .4s linear;
}

.w-100 {
    width: 100%;
}

.px-1 {
    padding: 0 10px 0 10px;
}

.m-5 {
    margin: .8em;
}

.form {
    background: linear-gradient(60deg, #accbee, #e7f0fd);
    padding: 0 0 20px;
    transition: .4s all;
    border-radius: 0 0 15px 15px;

}

.form input {
    width: 90%;
    padding: 0 10px 5px;
    margin: .5em 0;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #f5f5f5;
    background-color: transparent;
    color: #222;
    transition: 0.3s all;
}

.form input::placeholder {
    color: #fff;
}

.form input:focus {
    border-bottom: 1px solid #2d8fdf;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.dflex {
    display: flex;
}

.dflex-btn {
    align-items: center;
    gap: 2px;
}

.btn {
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    font-size: 19px;
    cursor: pointer;
    overflow: hidden;
}

.btn>span {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #bdbdbd;
    border-radius: 50%;
    pointer-events: none;
    animation: ripples .6s linear infinite;
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.btn-submit {
    background-color: #4dc1bf;
    color: #fff;
    margin-top: .6em;
}

.btn-login,
.btn-signup,
.btn-submit {
    font-family: "staaliches", cursive;
}

.btn-signup {
    border-radius: 15px 0 0 0;
    background: linear-gradient(270deg, #accbee, #e7f0fd);
}

.btn-login {
    border-radius: 0 15px 0 0;
    background: linear-gradient(to left, #accbee, #e7f0fd);
}


.icon {
    color: rgb(70, 70, 70);
    right: 50px;

}

.flexd-col {
    flex-direction: column;
}

.small {
    position: absolute;
    left: 0;
    bottom: -10px;
}

.error input {
    border-color: #ef5350 !important;
    transition: 0.6s all !important;
}

.error small {
    color: #d90700;

}

.success input {
    border-color: #66bb6a !important;
    transition: 0.6s all !important;
}

.w-100 small {
    visibility: hidden;
}

.error small {
    visibility: visible !important;
}


.login {
    top: 104px;
}

.new-user span {
    transition: .4s all;
}


.new-user:hover span {
    color: #2d8fdf;
    cursor: pointer;
}

/* Caps lock detected */
.icon-after {
    right: 0;
    bottom: 20px;
    color: rgb(255, 29, 29);
    animation: danger .6s infinite ease alternate;
    display: none;
}

.d-block {
    display: block;
}

@keyframes danger {
    from {
        filter: drop-shadow(0 0 5px #a30707);
    }

    to {
        filter: drop-shadow(0 0 10px #ff0000);
    }
}